<div class="modal-header border-0">
    <h1 class="modal-title" id="exampleModalLabel">{% block modal-title %} Edit Return {% endblock modal-title %}</h1>
    <button type="button" class="ri-close-fill" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<!-- {% for message in  messages %}
<p class="alert alert-success  mt-1">{{ message }}</p>
{% endfor %} -->
<form action="{% url 'admin_site:update_returnproduct' return_product.id %}" method="POST">
        {% csrf_token %}
        <div class="modal-body pt-2 mt-0">

                <label for="pcode">Product Code</label>
                <select name="pcode" id="" class="form-select form-control" required>
                    <option value="{{ return_product.product_code }}">{{ return_product.product_code }}</option>
                </select>

                <label for="qty">Quantity</label>
                <input type="number" class="form-control" value="{{return_product.product_qty}}" name="qty">
                
                <label for="name">Reseller Name</label>
                <input type="text" value="{{return_product.reseller_name}}" name="reseller_name" class="form-control" required>

                <label for="reason">Reason</label>
                <textarea name="reason" id="reason"  cols="5" rows="5" class="form-control">{{return_product.reason}}</textarea>

                <label for="date">Return Date</label>
                <input type="date" name="date" value="{{return_product.return_date}}" class="form-control" required>

                <label for="date">Status</label>
                <select name="status" id="" class="form-select form-control">
                    <option value="returned" {% if return_product.return_status == 'returned' %}selected{% endif %}>returned</option>
                    <option value="unreturned" {% if return_product.return_status == 'unreturned' %}selected{% endif %}>unreturned</option>
                </select>

            <!-- </form> -->
        </div>
        <div class="modal-footer border-0">
            <!-- <button type="submit" class="btn btn-primary" value="Add Product"><i class="ri-check-fill"></i>Add Product</button> -->
            <button type="submit" class="btn btn-primary me-2"><i class="ri-check-line align-middle me-2 text-end" style="font-size:17px;"></i><span class="align-middle pe-1">Return</span></button>
            <a href="{% url 'admin_site:list_product' %}" type="submit" id="close-modal" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size: 15px; padding: 5px 13px;"><i class="ri-close-line align-middle me-2 text-end" style="font-size:17px;"></i><span class="align-middle pe-1">Cancel</span></a>
            <!-- <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal"><i class="ri-close-line align-middle me-2 text-end" style="font-size:17px;"></i><span class="align-middle pe-1">Cancel</span></button> -->
        </div>
</form> 