/* Font */
@font-face {
    font-family: P-Thin;
    src: url(../../font/Poppins-Thin.ttf);
}

@font-face {
    font-family: P-Light;
    src: url(../../font/Poppins-Light.ttf);
}

@font-face {
    font-family: P-ExtraLight;
    src: url(../../font/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: P-Mono;
    src: url(../../font/Poppins-Regular.ttf);
}

@font-face {
    font-family: P-Medium;
    src: url(../../font/Poppins-Medium.ttf);  
}

@font-face {
    font-family: P-Bold;
    src: url(../../font/Poppins-Bold.ttf);
}

@font-face {
    font-family: P-SemiBold;
    src: url(../../font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: P-ExtraBold;
    src: url(../../font/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: P-Black;
    src: url(../../font/Poppins-Black.ttf);
}

::-webkit-scrollbar {
    display: none; 
}

:root{
    /* general */
    --primary-c-black: #151515;
    --primary-c-white: #F9F9F9;
    --primary-c-white-text: #FFF;
    --primary-c-grey-text: #9AAAC7;
    --primary-c-blue: #001BDE;
    --primary-c-l-blue: #BBC2F2;
    --primary-c-d-blue: #0B2E8A;
    --primary-c-dark-blue: #254070;

    /* colors */
    --c-grey: #565656;
    --c-d-purple: #99A2E1;
    --c-l-purple: #e1e3f37a;

    --c-dark-pink: #E288B8;
    --c-light-pink: #FFAED9;
    --c-lighter-pink: #FCD7EB;
    --c-light-peach: #F6D7DD;

    /* bg */
    --bg-c-gray-blue: #F2F5FD;
    --bg-c-gray: #E4E9F4;

    /* grid */
    --grid-column: 4;
    --section-spacing: 5.6rem 2rem;
    /* --section-spacing: 25rem 2rem; */
    /* --section-spacing: 25rem 2rem; */
    --container-width: 126rem;

    /* font */
    --sec-text-size: 7rem;
    --btn-text-size: 1.5625rem;
    --gen-font-size: 2.5rem;
    --store-text-size: 1.25rem;
    --gen-text-transform: lowercase;
    --main-font: P-ExtraLight;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    font-family: var(--main-font);
    font-size: var(--gen-font-size);
    color:var(--primary-c-blue);
}

/* img{
    display: block;
    max-width: 100%;
} */

a{
    text-decoration: none;
    display: inline-block;
}

ul li{
    list-style: none;
}

ul{
    padding-left: 0;
}

/* header */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background-color: var(--primary-c-l-blue);
}

.header-container{
    height: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.header-container h1,
.header-container span{
    font-family: P-ExtraBold;
    font-size: 7rem;
    line-height: 75%;
    min-height: 16vh !important;
}

.header-container span{
    font-family: P-Thin !important;
}

.title-main{
    font-family: P-ExtraBold !important;
}

.header-container p{
    font-family: P-ExtraLight;
    color: var(--primary-c-blue);
    font-size: 2rem;
    width: 73%;
    line-height: 119%;
}

.header-container .classic,
.header-container .special,
.header-container .deluxe,
.header-container .low-fat{
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    display: block !important;
}

.line-2{
    display: none;
}

#typing {
    white-space: pre;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* flavors list */
.list-flavors{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-flavors-container{
    height: 100%;
    padding: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-top: 2rem;
}

.classic,
.special,
.deluxe,
.low-fat{
    height: 3.5rem;
    width: 3.5rem;
    /* margin-right: 1rem; */
}

.classic{
    background-color: var(--c-dark-pink);
}

.special{
    background-color: var(--c-light-peach);
}

.deluxe{
    background-color: var(--primary-c-blue);
}

.low-fat{
    background-color: var(--primary-c-black);
}

.special-cat .flavor-icon,
.low-fat-cat .flavor-icon{
    display: flex;
    justify-content: flex-end !important;
}

.category-main{
    margin-bottom: 6rem;
}

.flavor-icon{
    margin-bottom: 0.5rem;
}

.category-title{
    font-family: P-ExtraBold;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.category-flavors{
    line-height: 119%;
    font-size: 1.8rem;
}

span.title-main{
    font-family: P-ExtraBold !important;
}

/* available sizes */
.sizes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.container-sizes{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-sizes h2,
.title-category{
    font-family: P-ExtraBold;
    font-size: 2.5rem;
    min-height: 6vh;
}

.sizes-list {
    line-height: 119%;
    font-size: 1.8rem;
}

.container-sizes span{
    font-family: P-Thin !important;
}

.sizes-list span{
    font-family: P-Medium !important;
}

span.title-category{
    font-family: P-ExtraBold !important;
}

/* statement */
.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;  
}

.desc-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statement,
.smiley{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.statement p{
    font-size: 1.8rem;
    line-height: 119%;
    margin-bottom: 2rem;
}

.statement span{
    font-family: P-Medium;
}

.smiley{
    padding: 5rem;
}

.smiley img{
    width: 15%;
}

/* --------------MEDIA QUERIES---------------- */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .header{
        min-height: 55vh;
    }

    .line-2{
        display: block;
    }

    .main-display .line-1{
        display: none;
    }
    
    .header-container h1,
    .header-container span{
        font-size: 7rem;
        min-height: 10vh;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .header-container p{
        margin-top: -3rem;
        width: 50%;
    }

    .header-container .classic,
    .header-container .special,
    .header-container .deluxe,
    .header-container .low-fat{
        display: block;
        margin-bottom: 1rem;
    }


    .list-flavors-container{
        padding: 10rem;
    }

    .deluxe-main{
        margin-top: 1rem;
    }

    .statement p{
        width: 55%;
        margin-bottom: 4rem;
    }

    .smiley{
        padding: 5rem;
    }
    
    .smiley img{
        width: 8%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .header{
        min-height: 65vh;
    }

    /* .header-container p{
        width: 25%;
    } */

    .list-flavors-container{
        padding: 17rem;
    }

    .sizes{
        margin-top: -13rem;
    }

    .statement p{
        width: 30%;
        margin-bottom: 5rem;
    }

    .smiley img{
        width: 3%;
    }

    .header-container p{
        margin-top: 1rem;
        width: 50%;
    }

    .header-container .classic,
    .header-container .special,
    .header-container .deluxe,
    .header-container .low-fat{
        margin-bottom: 3rem;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .header{
        min-height: 75vh;
    }

    .header-container h1,
    .header-container span{
        font-size: 11rem;
        min-height: 15vh;
    }

    .header-container .classic,
    .header-container .special,
    .header-container .deluxe,
    .header-container .low-fat{
        height: 4.5rem;
        width: 4.5rem;
        /* margin-right: 1rem; */
    }
    
    .header-container p{
        font-size: 2.5rem;
        width: 35%;
        line-height: 119%;
    }

    .classic,
    .special,
    .deluxe,
    .low-fat{
        height: 4.5rem;
        width: 4.5rem;
        /* margin-right: 1rem; */
    }

    .category-title{
        font-size: 3rem;
    }
    
    .category-flavors{
        font-size: 2rem;
    }

    .spe,
    .cla{
        margin-bottom: 10rem;
    }

    span.title-category{
        font-size: 3rem;
    }

    .sizes-list {
        font-size: 2rem;
    }

    
    .statement p{
        font-size: 2rem;
    }


}