<!-- SUPPORT ACTIVATED -->
<!-- ======= Sidebar ======= -->
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        {% if user.role == "admin"%}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'admin_site:dashboard'%}">
            <i class="ri-apps-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
            <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        {% endif %}

        {% if user.role == "staff"%}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'staff_site:dashboard'%}">
            <i class="ri-apps-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
            <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        {% endif %}

        {% if user.role == "reseller"%}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'reseller_site:dashboard'%}">
            <i class="ri-apps-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
            <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        {% endif %}

        {% if user.role == "rider"%}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'rider_site:dashboard'%}">
            <i class="ri-apps-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
            <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        {% endif %}
  
        <li class="nav-heading pt-3">Management</li>
        
        {% if user.role == "admin"%}
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#users-nav" data-bs-toggle="collapse" href="#">
            <i class="ri-user-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>User Accounts</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
        <ul id="users-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                <a href="{% url 'admin_site:user_list' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Users List</span>
                </a>
                </li>
                <li>
                <a href="{% url 'admin_site:list_reseller'%}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Resellers List</span>
                </a>
                </li>
                <li>
                <a href="{% url 'admin_site:list_inquiry'%}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Requests</span>
                </a>
                </li>
            </ul>
        </li><!-- End User Accounts Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{%url 'admin_site:list_product' %}">
                <i class="ri-shopping-bag-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
                <span>Products</span>
            </a>
            </li><!-- End Products Page Nav -->
    
            <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#inventory-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-inbox-archive-line"style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
                <span>Inventory</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="inventory-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{%url 'admin_site:inventory' %}">
                            <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Add Stock</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_site:view_inventory' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>View Stock</span>
                    </a>
                </li>
            </ul>
            </li><!-- End Inventory Page Nav -->
    
            <li class="nav-item">
            <a class="nav-link collapsed " data-bs-target="#sales-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-shopping-cart-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Order</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="sales-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'admin_site:transaction_orders' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Pending</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_site:transaction_outshipping' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Out For Delivery</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_site:transaction_completed' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Delivered</span>
                    </a>
                </li>
            </ul>
            </li><!-- End Sales Nav -->
        {% endif %}

        {% if user.role == "staff"%}
        <li class="nav-item">
        <a class="nav-link collapsed" href="{%url 'admin_site:list_product' %}">
            <i class="ri-shopping-bag-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
            <span>Products</span>
        </a>
        </li><!-- End Products Page Nav -->

        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#inventory-nav" data-bs-toggle="collapse" href="#">
            <i class="ri-inbox-archive-line"style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
            <span>Inventory</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
        </a>
        <ul id="inventory-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
                <a href="{%url 'admin_site:inventory' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Add Stock</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin_site:view_inventory' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>View Stock</span>
                </a>
            </li>
        </ul>
        </li><!-- End Inventory Page Nav -->
  
        <li class="nav-item">
        <a class="nav-link collapsed " data-bs-target="#sales-nav" data-bs-toggle="collapse" href="#">
            <i class="ri-shopping-cart-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Order</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
        </a>
        <ul id="sales-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
                <a href="{% url 'admin_site:transaction_orders' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Pending</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin_site:transaction_outshipping' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Out For Delivery</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin_site:transaction_completed' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Delivered</span>
                </a>
            </li>
        </ul>
        </li><!-- End Sales Nav -->
        {% endif %}

        {% if user.role == "reseller"%}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'reseller_site:transaction_orders'  %}">
                <i class="ri-shopping-bag-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
                <span>Orders</span>
            </a>
            </li><!-- End Products Page Nav -->
        {% endif %}

        {% if user.role == "rider"%}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'rider_site:transaction_orders'  %}">
                <i class="ri-truck-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
                <span>Delivery</span>
            </a>
        </li><!-- End Products Page Nav -->
        {% endif %}

        {% if user.role == "admin"%}
        <li class="nav-heading pt-3">Reports</li>
        <li class="mb-act nav-item">
            <a class="nav-link collapsed " data-bs-target="#reports-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-file-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Reports</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="reports-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'admin_site:report_actlog' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Activity Log</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_site:report_online_sales' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Online Sales</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_site:report_pos_sales' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>POS Sales</span>
                    </a>
                </li>
            </ul>
        </li>
        {% endif %}
  
        <li class="nav-heading pt-3">Others</li>
        
        <li class="nav-item">
            {% if user.role == "admin"%}
            <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-settings-3-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Settings</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="settings-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                <a href="{% url 'admin_site:settings_profile' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Edit Profile</span>
                </a>
                </li>
                <li>
                <a href="{% url 'admin_site:list_archive' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Database</span>
                </a>
                </li>
                <!-- <li>
                <a href="reports-admin/act-logged-out.php">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Product Category</span>
                </a>
                </li> -->
            </ul>
            {% endif %}

            {% if user.role == "staff"%}
            <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-settings-3-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Settings</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="settings-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                <a href="{% url 'admin_site:settings_profile' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Edit Profile</span>
                </a>
                </li>
                <!-- <li>
                <a href="reports-admin/act-logged-out.php">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Product Category</span>
                </a>
                </li> -->
            </ul>
            {% endif %}

            {% if user.role == "reseller"%}
            <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-settings-3-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Settings</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="settings-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                <a href="{% url 'admin_site:settings_profile' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Edit Profile</span>
                </a>
                </li>
                <!-- <li>
                <a href="reports-admin/act-logged-out.php">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Product Category</span>
                </a>
                </li> -->
            </ul>
            {% endif %}

            {% if user.role == "rider"%}
            <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-settings-3-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Settings</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="settings-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                <a href="{% url 'admin_site:settings_profile' %}" >
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Edit Profile</span>
                </a>
                </li>
                <!-- <li>
                <a href="reports-admin/act-logged-out.php">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Product Category</span>
                </a>
                </li> -->
            </ul>
            {% endif %}
        </li>
  
        <li class="nav-item">
            <a href="{% url 'admin_site:support' %}" class="nav-link  active-nav">
                <i class="ri-information-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Support</span>
            </a>
        </li>
    </ul>
</aside><!-- End Sidebar-->









<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
         <li class="nav-item active-nav">
              <a class="nav-link " href="{% url 'admin_site:dashboard'%}" id="dash-ad">
              <i class="ri-apps-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
              <span>Dashboard</span>
              </a>
         </li><!-- End Dashboard Nav -->

         <li class="nav-heading pt-3">Management</li>
         <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#users-nav" data-bs-toggle="collapse" href="#">
                   <i class="ri-user-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>User Accounts</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
              </a>
              <ul id="users-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                   <li>
                   <a href="{% url 'admin_site:user_list' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Users List</span>
                   </a>
                   </li>
                   <li>
                   <a href="{% url 'admin_site:list_reseller'%}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Resellers List</span>
                   </a>
                   </li>
                   <li>
                   <a href="{% url 'admin_site:list_inquiry'%}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Requests</span>
                   </a>
                   </li>
              </ul>
         </li><!-- End User Accounts Nav -->

         <li class="nav-item">
         <a class="nav-link collapsed" href="{%url 'admin_site:list_product' %}">
              <i class="ri-shopping-bag-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
              <span>Products</span>
         </a>
         </li><!-- End Products Page Nav -->

         <li class="nav-item">
         <a class="nav-link collapsed " data-bs-target="#inventory-nav" data-bs-toggle="collapse" href="#">
              <i class="ri-inbox-archive-line"style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
              <span>Inventory</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
         </a>
         <ul id="inventory-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
              <li>
                   <a href="{%url 'admin_site:inventory' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Add Stock</span>
                   </a>
              </li>
              <li>
                   <a href="{% url 'admin_site:view_inventory' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>View Stock</span>
                   </a>
              </li>
         </ul>
         </li><!-- End Inventory Page Nav -->

         <li class="nav-item">
         <a class="nav-link collapsed " data-bs-target="#sales-nav" data-bs-toggle="collapse" href="#">
              <i class="ri-shopping-cart-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Order</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
         </a>
         <ul id="sales-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
              <li>
                   <a href="{% url 'admin_site:transaction_orders' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Pending</span>
                   </a>
              </li>
              <li>
                   <a href="{% url 'admin_site:transaction_outshipping' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Out For Delivery</span>
                   </a>
              </li>
              <li>
                   <a href="{% url 'admin_site:transaction_completed' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Delivered</span>
                   </a>
              </li>
         </ul>
         </li><!-- End Sales Nav -->

                   <li class="nav-heading pt-3">Reports</li>
         <li class="mb-act nav-item">
              <a class="nav-link collapsed " data-bs-target="#reports-nav" data-bs-toggle="collapse" href="#">
                   <i class="ri-file-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Reports</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
              </a>
              <ul id="reports-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                   <li>
                        <a href="{% url 'admin_site:report_actlog' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Activity Log</span>
                        </a>
                   </li>
                   <li>
                        <a href="{% url 'admin_site:report_online_sales' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Online Sales</span>
                        </a>
                   </li>
                   <li>
                        <a href="{% url 'admin_site:report_pos_sales' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>POS Sales</span>
                        </a>
                   </li>
              </ul>
         </li>

         <li class="nav-heading pt-3">Others</li>
         <li class="nav-item">
              <a class="nav-link collapsed " data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
                   <i class="ri-settings-3-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Settings</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
              </a>
              <ul id="settings-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                   <li>
                   <a href="{% url 'admin_site:settings_profile' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Edit Profile</span>
                   </a>
                   </li>
                   <li>
                   <a href="{% url 'admin_site:list_archive' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Archived Resellers</span>
                   </a>
                   </li>
                   <li>
                   <a href="{% url 'admin_site:settings_product' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Product Settings</span>
                   </a>
                   </li>
                   <!-- <li>
                   <a href="{% url 'admin_site:settings_page' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Page Settings</span>
                   </a>
                   </li> -->
                   <!-- <li>
                   <a href="reports-admin/act-logged-out.php">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Product Category</span>
                   </a>
                   </li> -->
              </ul>
         </li>

         <li class="nav-item">
              <a href="{% url 'admin_site:support' %}" class="nav-link collapsed ">
                   <i class="ri-information-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Support</span>
              </a>
         </li>
    </ul>
</aside><!-- End Sidebar-->

















  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
  
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'admin_site:dashboard'%}" id="dash-ad" onclick="myFunction()">
            <i class="ri-apps-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
            <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
  
        <li class="nav-heading pt-3">Management</li>
        <li class="nav-item active-nav">
                <a class="nav-link" data-bs-target="#users-nav" data-bs-toggle="collapse" href="#">
                    <i class="ri-user-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>User Accounts</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
                </a>
            <ul id="users-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                <li>
                <a href="{% url 'admin_site:user_list' %}" class="active">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Users List</span>
                </a>
                </li>
                <li>
                <a href="{% url 'admin_site:list_reseller'%}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Resellers List</span>
                </a>
                </li>
                <li>
                <a href="{% url 'admin_site:list_inquiry'%}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Requests</span>
                </a>
                </li>
            </ul>
        </li><!-- End User Accounts Nav -->

        <li class="nav-item">
        <a class="nav-link collapsed" href="{%url 'admin_site:list_product' %}">
            <i class="ri-shopping-bag-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
            <span>Products</span>
        </a>
        </li><!-- End Products Page Nav -->

        <li class="nav-item">
        <a class="nav-link collapsed " data-bs-target="#inventory-nav" data-bs-toggle="collapse" href="#">
            <i class="ri-inbox-archive-line"style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
            <span>Inventory</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
        </a>
        <ul id="inventory-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
                <a href="{%url 'admin_site:inventory' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Add Stock</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin_site:view_inventory' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>View Stock</span>
                </a>
            </li>
        </ul>
        </li><!-- End Inventory Page Nav -->

        <li class="nav-item">
        <a class="nav-link collapsed " data-bs-target="#sales-nav" data-bs-toggle="collapse" href="#">
            <i class="ri-shopping-cart-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Order</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
        </a>
        <ul id="sales-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
                <a href="{% url 'admin_site:transaction_orders' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Pending</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin_site:transaction_outshipping' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Out For Delivery</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin_site:transaction_completed' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Delivered</span>
                </a>
            </li>
        </ul>
        </li><!-- End Sales Nav -->

        <li class="nav-heading pt-3">Reports</li>
        <li class="mb-act nav-item">
            <a class="nav-link collapsed " data-bs-target="#reports-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-file-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Reports</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="reports-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'admin_site:report_actlog' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Activity Log</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_site:report_online_sales' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Online Sales</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_site:report_pos_sales' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>POS Sales</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-heading pt-3">Others</li>
        <li class="nav-item">
            <a class="nav-link collapsed " data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-settings-3-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Settings</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="settings-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'admin_site:settings_profile' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Edit Profile</span>
                    </a>
                </li>
                <li>
                <a href="{% url 'admin_site:list_archive' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Archived Resellers</span>
                </a>
                </li>
                <li>
                <a href="{% url 'admin_site:settings_product' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Product Settings</span>
                </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a href="{% url 'admin_site:support' %}" class="nav-link collapsed ">
                <i class="ri-information-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Support</span>
            </a>
        </li>
    </ul>
</aside><!-- End Sidebar-->



































staff
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        {% if user.role == "admin"%}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'admin_site:dashboard'%}">
            <i class="ri-apps-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
            <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        {% endif %}

        {% if user.role == "staff"%}
        <li class="nav-item active-nav">
            <a class="nav-link" href="{% url 'staff_site:dashboard'%}">
            <i class="ri-apps-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
            <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        {% endif %}

        {% if user.role == "reseller"%}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'reseller_site:dashboard'%}">
            <i class="ri-apps-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
            <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        {% endif %}

        {% if user.role == "rider"%}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'rider_site:dashboard'%}">
            <i class="ri-apps-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
            <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        {% endif %}
  
        <li class="nav-heading pt-3">Management</li>
        
        {% if user.role == "admin"%}
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#users-nav" data-bs-toggle="collapse" href="#">
            <i class="ri-user-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>User Accounts</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
        <ul id="users-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                <a href="{% url 'admin_site:user_list' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Users List</span>
                </a>
                </li>
                <li>
                <a href="{% url 'admin_site:list_reseller'%}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Resellers List</span>
                </a>
                </li>
                <li>
                <a href="{% url 'admin_site:list_inquiry'%}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Requests</span>
                </a>
                </li>
            </ul>
        </li><!-- End User Accounts Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{%url 'admin_site:list_product' %}">
                <i class="ri-shopping-bag-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
                <span>Products</span>
            </a>
            </li><!-- End Products Page Nav -->
    
            <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#inventory-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-inbox-archive-line"style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
                <span>Inventory</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="inventory-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{%url 'admin_site:inventory' %}">
                            <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Add Stock</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_site:view_inventory' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>View Stock</span>
                    </a>
                </li>
            </ul>
            </li><!-- End Inventory Page Nav -->
    
            <li class="nav-item">
            <a class="nav-link collapsed " data-bs-target="#sales-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-shopping-cart-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Order</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="sales-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'admin_site:transaction_orders' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Pending</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_site:transaction_outshipping' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Out For Delivery</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_site:transaction_completed' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Delivered</span>
                    </a>
                </li>
            </ul>
            </li><!-- End Sales Nav -->
        {% endif %}

        {% if user.role == "staff"%}
        <li class="nav-item">
        <a class="nav-link collapsed" href="{%url 'admin_site:list_product' %}">
            <i class="ri-shopping-bag-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
            <span>Products</span>
        </a>
        </li><!-- End Products Page Nav -->

        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#inventory-nav" data-bs-toggle="collapse" href="#">
            <i class="ri-inbox-archive-line"style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
            <span>Inventory</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
        </a>
        <ul id="inventory-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
                <a href="{%url 'admin_site:inventory' %}">
                        <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Add Stock</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin_site:view_inventory' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>View Stock</span>
                </a>
            </li>
        </ul>
        </li><!-- End Inventory Page Nav -->
  
        <li class="nav-item">
        <a class="nav-link collapsed " data-bs-target="#sales-nav" data-bs-toggle="collapse" href="#">
            <i class="ri-shopping-cart-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Order</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
        </a>
        <ul id="sales-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
                <a href="{% url 'admin_site:transaction_orders' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Pending</span>
                </a>
            </li>
            <!-- <li>
                <a href="{% url 'admin_site:transaction_outshipping' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Out For Delivery</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin_site:transaction_completed' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Delivered</span>
                </a>
            </li> -->
        </ul>
        </li><!-- End Sales Nav -->
        {% endif %}

        {% if user.role == "reseller"%}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'reseller_site:transaction_orders'  %}">
                <i class="ri-shopping-bag-2-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
                <span>Orders</span>
            </a>
            </li><!-- End Products Page Nav -->
        {% endif %}

        {% if user.role == "rider"%}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'rider_site:transaction_orders'  %}">
                <i class="ri-truck-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i>
                <span>Delivery</span>
            </a>
        </li><!-- End Products Page Nav -->
        {% endif %}

        {% if user.role == "admin"%}
        <li class="nav-heading pt-3">Reports</li>
        <li class="mb-act nav-item">
            <a class="nav-link collapsed " data-bs-target="#reports-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-file-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Reports</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="reports-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'admin_site:report_actlog' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Activity Log</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_site:report_online_sales' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Online Sales</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin_site:report_pos_sales' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>POS Sales</span>
                    </a>
                </li>
            </ul>
        </li>
        {% endif %}
  
        <li class="nav-heading pt-3">Others</li>
        
        <li class="nav-item">
            {% if user.role == "admin"%}
            <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-settings-3-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Settings</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="settings-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                <a href="{% url 'admin_site:settings_profile' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Edit Profile</span>
                </a>
                </li>
                <li>
                <a href="{% url 'admin_site:list_archive' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Database</span>
                </a>
                </li>
                <!-- <li>
                <a href="reports-admin/act-logged-out.php">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Product Category</span>
                </a>
                </li> -->
            </ul>
            {% endif %}

            {% if user.role == "staff"%}
            <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-settings-3-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Settings</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="settings-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                <a href="{% url 'admin_site:settings_profile' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Edit Profile</span>
                </a>
                </li>
                <!-- <li>
                <a href="reports-admin/act-logged-out.php">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Product Category</span>
                </a>
                </li> -->
            </ul>
            {% endif %}

            {% if user.role == "reseller"%}
            <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-settings-3-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Settings</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="settings-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                <a href="{% url 'admin_site:settings_profile' %}">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Edit Profile</span>
                </a>
                </li>
                <!-- <li>
                <a href="reports-admin/act-logged-out.php">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Product Category</span>
                </a>
                </li> -->
            </ul>
            {% endif %}

            {% if user.role == "rider"%}
            <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
                <i class="ri-settings-3-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Settings</span><i class="ri-arrow-down-s-line ms-auto" style="font-size: 20px; font-weight: 100;" ></i>
            </a>
            <ul id="settings-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                <a href="{% url 'admin_site:settings_profile' %}" >
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Edit Profile</span>
                </a>
                </li>
                <!-- <li>
                <a href="reports-admin/act-logged-out.php">
                    <i class="ri-checkbox-blank-circle-fill" style="margin-right: 15px" ></i><span>Product Category</span>
                </a>
                </li> -->
            </ul>
            {% endif %}
        </li>
  
        <li class="nav-item">
            <a href="{% url 'admin_site:support' %}" class="nav-link  collapsed">
                <i class="ri-information-line" style="font-size: 22px; font-weight: 100; margin-right: 20px"></i><span>Support</span>
            </a>
        </li>
    </ul>
</aside><!-- End Sidebar-->