<div class="modal-header border-0">
    <h1 class="modal-title" id="exampleModalLabel">{% block modal-title %} New Product {% endblock modal-title %}</h1>
    <button type="button" class="ri-close-fill" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<!-- {% for message in  messages %}
<p class="alert alert-success  mt-1">{{ message }}</p>
{% endfor %} -->
<form action="{% url 'admin_site:process_product' %}"  method="POST">
        {% csrf_token %}
        <div class="modal-body pt-2 mt-0">

                <label for="product_name">Product Name</label>
                <input type="text" placeholder="" name="product_name" class="form-control" required>


                <label for="flavor">Flavor</label>
                <select name="flavor" id="" class="form-control form-select" required>
                    <option value=""></option>
                    {% for list in list_flavor  %}
                    <option value="{{ list.settings_flavor }}">{{ list.settings_flavor }}</option>
                    {% endfor %}
                </select>

                <label for="category">Product Category</label>
                <select name="category" id="" class="form-control form-select" required>
                    <option value=""></option>
                
                    {% for list in list_category  %}
                    <option value="{{ list.settings_category }}">{{ list.settings_category }}</option>
                    {% endfor %}
                    
                </select>


                <label for="unit">Unit</label>
                <select name="unit" id="" class="form-control form-select" required>
                    <option value=""></option>
                    {% for list in list_unit  %}
                    <option value="{{ list.settings_unit }}">{{ list.settings_unit }}</option>
                    {% endfor %}
                </select>


                <label for="product_name">Reseller Price</label>
                <input type="number" placeholder="" name="reseller_price" min="0" class="form-control" required>


                <label for="product_name">POS Price</label>
                <input type="number" placeholder="" name="price" min="0" class="form-control" required>
            <!-- </form> -->
        </div>
        <div class="modal-footer border-0">
            <!-- <button type="submit" class="btn btn-primary" value="Add Product"><i class="ri-check-fill"></i>Add Product</button> -->
            <button type="submit" class="btn btn-primary me-2"><i class="ri-check-line align-middle me-2 text-end" style="font-size:17px;"></i><span class="align-middle pe-1">Add</span></button>
            <a href="{% url 'admin_site:list_product' %}" type="submit" id="close-modal" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size: 15px; padding: 5px 13px;"><i class="ri-close-line align-middle me-2 text-end" style="font-size:17px;"></i><span class="align-middle pe-1">Cancel</span></a>
            <!-- <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal"><i class="ri-close-line align-middle me-2 text-end" style="font-size:17px;"></i><span class="align-middle pe-1">Cancel</span></button> -->
        </div>
</form> 